<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yxf.facerecognition">

    <uses-permission android:name="android.permission.CAMERA" />
    <application>
        <activity android:name="com.yxf.facerecognitionsample.FaceRecognitionActivity"
            android:exported="false"
            />
        <activity android:name="com.yxf.facerecognitionsample.AddFaceActivity"
            android:exported="false"
            />
    </application>
</manifest>